@model SVU.Web.UI.ViewModels.CourseViewModel
@{
    ViewBag.Title = Model.Course.Name;
}

<partial name="_CourseNavigation" />
<div class="slide-in-left min-vh-100 ">
    <!--About part-->
    <div class="p-5 bg-dark" id="about">
        <div class="card ">
            <div class="text-center">
                <img src="@Model.Course.ImageUrl" alt="@Model.Course.ShortName image">
            </div>

            <div class="card-body text-center">
                <h5 class="card-title ">About</h5>
                <hr />
                <p class="card-text">
                    @Html.Raw(@Model.Course.Description)
                </p>
                @foreach (var link in Model.Course.Links)
                {
                    <a href="@link.Url" class="btn btn-primary m-1">@link.Title</a>
                }
            </div>
        </div>
    </div>

    <!--Lectures part-->
    <div class="py-5 min-vh-100" id="lectures">
        <div class=" text-center">
            <h4>Lectures</h4>
            <hr class="mx-5" />
        </div>
        @if (Model.Course.Sessions != null && Model.Course.Sessions.Any())
        {
            <div class="container">
                <table class="table lg-table">

                    @{
                        var orderd = Model.Course.Sessions.OrderByDescending(item => item.CreationDate);
                        foreach (var lecture in orderd)
                        {
                            <tr>
                                <td>@lecture.Title</td>
                                <td>@lecture.Description</td>
                                @foreach (var link in lecture.Links)
                                {
                                    <td><a href="@link.Url" class="btn btn-info">@link.Title</a></td>
                                }
                                <td>@lecture.CreationDate.ToShortDateString()</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        }
        else
        {
            <partial name="_NoDataImage" />
        }
    </div>

    <!--Homework part-->
    <div class="py-5 bg-dark mb-2 min-vh-100" id="homework">
        <div class="text-center text-white">
            <h4>Homeworks</h4>
            <hr class="mx-5 border-white" />
        </div>
        @if (Model.Course.Homeworks != null && Model.Course.Homeworks.Any())
        {
            <div class="container">
                <table class="table table-dark border-white lg-table">
                    @{
                        var orderd = Model.Course.Homeworks.OrderByDescending(item => item.CreationDate);
                        foreach (var homework in orderd)
                        {
                            <tr>
                                <td>@homework.Title</td>
                                <td>@homework.Description</td>
                                @foreach (var link in homework.Links)
                                {
                                    <td>
                                        <a href="@link.Url" class="btn btn-info">@link.Title</a>
                                    </td>
                                }
                            </tr>
                        }
                    }
                </table>
            </div>
        }
        else
        {
            <partial name="_NoDataImage" />
        }
    </div>
</div>